/* Usually it is best to put new edits at the bottom of the file. This way they will overwrite!*/
* { /* Top margin was looking asymmetrical on my page, so took the nuclear option */
    margin: 0px;
    padding: 0px;
}
/*#content { padding-top: 0.5em }*/
#header { float: right; margin-left: 1em; margin-bottom: 1em }
#tagsoup {clear: both; padding: 0.75em}
#tagsoup a {padding: 0.5em}
.tags {padding-left: 0.75em; padding-bottom: 0.75em;}
.date { font-style: italic;  clear: both; color: white; padding-left: 0.75em} /* except index */
.article-meta {
    padding-bottom: 0.75em;
    margin-bottom: 0.75em;
    max-width: 32em;
    padding-left: 2em;
    padding-right: 2em;

}
.archive-title { font-size: 1em }
html {
    background: #151515;
    margin: 2%;
    color: white;
}

.tag-low { font-size: .8em; font-weight: 200 }
.tag-medium { font-size: 1.2em; font-weight: 600 }
.tag-high { font-size: 1.8em; font-weight: 800 }
body {
    font-family: Hack;
    font-size: 1.2em;
    background: #151515;
    color: white;
}
.relative-nav {padding: 0.75em;}
pre,code { overflow: auto; padding: 0.5em; border-left: 1px;
       background-color: inherit; font-family: Hack, monospace;
       overflow-wrap: break-word; color: lime}
h2 { color: tomato }
tt { font-size: .9em; font-family: Hack}

@media (prefers-color-scheme: light) {
	body {
		background: white ;
		color: black ;
	}
	a {
		color: blue ;
	}
	a:visited {
		color: purple ;
	}
	h2 {
		color: inherit ;
	}
	pre,code {
		color: forestgreen ;
	}
}


@media print {
	a[href] {
		text-decoration: none ;
		color: black ;
	}
}

@media (min-width: 55em) {
	#artlist { column-count: 2 ;}
}

@media (min-width: 100em) {
	#artlist { column-count: 3 ;}
}

@media {
    #content {
        padding-top: 0
    }

    .title {
        margin-left: 0;
        clear: right;
    }

    .article-meta {
        clear: right;
    }

    .article-meta, .article-content, .article-meta-meta{
        margin-right: 0em;
        padding-left: 5%;
    }

    .article, .article-content {
        margin-left: 0;
        text-align: left;
    }
    .article-content {
        margin-left: auto;
        margin-right: auto;
    }
    img  {
        /*    display: block; */
        margin-left: auto;
        margin-right: auto;
	max-width: 70%;
    }

    #coleslaw-logo {
        float: none;
    }

    #coleslaw-logo img {
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: auto;
    }

}
.fineprint a img p {
    width: auto;
    clear: both;
    padding: 3em;
}
img {
    max-width: 100%;
    height: auto;
}
a { text-decoration: none; outline: none; color: lightblue;}

a:visited {color: gray;}

a.anchor { color: white; }
/* .fineprint {
    background: #98fb98;
} */
.navigation {
    font-size: 1.2em;
    width: 100%;
    height: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #151515;
    text-align: center;
    margin-bottom: 2%;
}
.navlink, .press {
    border-width: 0.25em;
    border-style: outset;
    width: auto;
    background-color: #151515;
    height: auto;
    margin: 0;
    padding: 0.25em;
    margin-left: 0.75em;
    color: white;
    text-align: center;
}
.navlink {
    display: inline-table;
    vertical-align: middle;
    margin: 0.25em;
}
.press {
    margin: 0;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    margin-right: 0.75em;
    display: inline-block;
}
.inline {
    display: inline;
}
.navlink img {
    margin: 0;
    display: none;
}
#hacker {
    max-width: 3em;
    height: auto;
    padding: 1em;
}
.innerbg {
    background: #151515;
    padding: 0px;
    margin: 0px;
}

/* Continued in other CSS files that come after */
ul, ol {
    float: none;
    clear: right;
    display: table;
    margin: 1em;
    margin-left: 2em;
}

.article-content {
    max-width: 32em;
    padding-left: 2em;
    padding-right: 2em;
}
.title {
    width: auto;
    text-align: center;
    padding-top: 1em;
}
h, h1, h2, h3, h4, h5, h6 {
    text-align: center;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0;

}
.button {
    border-width: 0.25em;
    border-style: outset;
    width: 4em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: white;
    text-align: center;
}
.sitemap {
    font-size: 0.9em;
}
.sitemap ul {
    padding-bottom: 2em;
    margin: 0.25em;
    margin-left: 2em;
    list-style-image: url("/static/nested-list-outer.png");
}

.sitemap-inner ol {
    list-style-type: lower-roman;
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 0.5em;
    padding: 0;
}
.sitemap-inner ul {
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 0.5em;
    padding: 0;
    list-style-image: url("/static/nested-list-inner.png");
}
.outerlist ul {
    padding-top: 1em;
    margin: 0.25em;
    margin-left: 2em;
    list-style-image: url("/static/nested-list-outer.png");
}
.sublist ul {
    margin-top: 0;
    list-style-image: url("/static/nested-list-inner.png");
    padding: 0;
    margin-left: 3em;
}
.box ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.title {
    text-align: left;
}
.listtitle {
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
}
.tabbed ul {
    margin-left: 1em;
}
.article-box .article-image, .article-box .article-title, .article-box .article{
    display: inline;
    padding-right: 1em;
    width: 70%;
}
.jump {
    padding-top: 200px; margin-top: -200px;
}
.fineprint {
    text-align: center;
    font-size: .9em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    clear: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.footerlink, .footerlink-leftmost, .footerlink-rightmost {
    text-align: center;
    padding-right: 0.5em;
    padding-left: 0.5em;
    display: inline-block;
}
.article-image img {
    display: inline;
    max-width: 12em;
    height: auto;
    margin-top: 1.25em;
}
.article-title {
    height: 2em;
    display: block;
    margin-top: 0.1em;
}
.article-meta-meta h1 {
    text-align: left;
}
.article-title h1 {
    font-size: 2em;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    vertical-align: middle;
}
.article {
    vertical-align: middle;
    color: white;
    font-size: 1.2em;
    text-decoration: underline dotted white;
}
.right {
    text-align: right;
}
.logo {
    max-width: 128px;
}
.banner {
    max-width: 256px;
}
.center-logo {
    margin-left: auto;
    margin-right: auto;
    width: 256px;
}
